.page-header { background: url(/gradient_images/100:3B5F87:ACD3E6.png) repeat-x;}

.front-page .welcome-message { 
	background: url(/gradient_images/50:ACD3E6:fff.png) repeat-x #fff;
}

html { background: url(/gradient_images/300:ACD3E6:fff.png) repeat-x #fff; }